<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">


</head>
<body>
<a style="margin-left:50px;margin-top:50px;" href="count">countUrl</a>&nbsp&nbsp&nbsp
<a href="info">Info</a>
<a href="short">ClickShortList</a>

<div class="card border-primary mb-3" style="max-width: 50rem;margin-left:50px;margin-top:50px;">
    <div class="card-header">List of All ShortUrls</div>
    <div class="card-body">
        <table class="table table-border table-hover">
        <thead>
        <tr><th>ShortUrl</th><th>Long Url</th><th>Redirect</th></tr>
        </thead>
            <tbody>
            <tr th:each="url:${url}">
                <td th:text="${url.shortUrl}"></td></br>
                <td th:text="${url.longUrl}"></td>
                <td><a th:href="@{url/{shortUrl}(shortUrl = ${url.shortUrl})}">ToLongUrl</a></td>
                <td><a th:href="${url.id}">Find</a></td>

            </tr>
            </tbody>
        </table>
    </div>
</div>


</body>
</html>